{% if user.is_authenticated %}
<form id="logoutForm" action="/deconnection/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-outline-light me-2">Se déconnecter</a>
    </ul>
</form>
{% else %}
<div class="text-end">
    <a href="{% url 'login' %}" class="btn btn-outline-light me-2">S'identifier</a>
    <a href="{% url 'register' %}" class="btn btn-warning">S'inscrire</a>
</div>
{% endif %}
